<div class="signIn">
    <form [formGroup]=" formsigIn" (ngSubmit)="createUser($event)">
        <h1>Sign In</h1>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input type="text" matInput formControlName="name" placeholder="">
            <mat-error *ngIf="formsigIn.get('name')?.hasError('required') && formsigIn.get('name')?.touched ">
              Username is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Age</mat-label>
            <input type="number" matInput formControlName="age" placeholder="">
            <mat-error *ngIf="formsigIn.get('age')?.hasError('required') && formsigIn.get('age')?.touched ">
              Age is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-radio-group aria-label="Select an option" formControlName="gender">
            <mat-label style="color:#bbbbbb">Gender:</mat-label><br>
            <mat-radio-button style="color:white" value="M">Male</mat-radio-button>
            <mat-radio-button style="color:white"value="F">Female</mat-radio-button>
          </mat-radio-group><br><br>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
            <mat-error *ngIf="formsigIn.get('email')?.hasError('required') && formsigIn.get('email')?.touched">
              Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="formsigIn.get('email')?.hasError('email') || formsigIn.get('email')?.hasError('pattern') && confirm">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" placeholder="Ex. Hello123">
            <mat-error *ngIf="formsigIn.get('password')?.hasError('required') && formsigIn.get('password')?.touched">
              Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="formsigIn.get('password')?.hasError('pattern')">
              Password needs to be at least eight characters, one uppercase letter and one number
            </mat-error>
          </mat-form-field><br>
          <button mat-flat-button color="accent" type="submit">Get Into</button>
          <h3>Already have account?<a [routerLink]="['/login']" >(Click here)</a></h3>
    </form>
</div>

